{{ header }}
<div id="common-aboutUs" class="page-containers">
    {# {{ content_top }} #}
   
    <div class="one-up">
        <div class="content-container">
            {# {{ intro }} #}
            <h1> About Us </h1> 
            <p>
                Prestine Jewelers sell some of the most luxury watches with a variety of different brands sold. We not only sell luxury watches but exclusive bracelets ranging from diamond bracelets to silver bracelets. 
            </p>

            <p>
                We also sell gold bullion bars ranging from 1KG bars to 100G bars which each have a unique serial number </br> imprinted into the bar and has a certificate included. 
            </p>

            <p>
                Prestine Jewelers is a UK based company with numerous shops located in the UK which customers have the opportunity to view our range of stock or pick up an item which they’ve ordered. We not ship our products all over the country but <br/> worldwide which is completely free and insured.
            </p>
        </div>
    </div>


    <div class="two-up-list">
        <div class="list-item">
            <div class="left">
                <img class="image" src="image/watches-about.jpg"/>
            </div>

            <div class="right">
                <h3>Watches</h3>
                <p> </p>
                {# <p>We offer free secured transportation with every gold bullion bar purchased from us. We offer a unique delivery service which is available all over the country with our drivers able to deliver your bullion bar at the most convenient time for you with this service available 7 days a week 24 hours a day. 
                </p>
                <p>
                    There is also an opportunity for you to collect your bullion bar from one of our many stores.
                </p> #}

            </div>
        </div>
        <div class="list-item">
            <div class="left">
                <img class="image" src="image/Gold-Bars.jpg"/>
                
            </div>

            <div class="right">
               <a href="http://stage.maximusik.com/opencart/goldbullion"> <h3>Gold Bullion Bars</h3></a>
                <p> </p>
              {#   <p>We accept cash for gold bullion bars where you can arrange an appointment to come in one of our stores at your convenience to pick up your gold bullion bar while in our store.
                </p> #}
        
            </div>
        </div>



    </div>  

     <div class="one-up">
        <div class="content-container">
            
              <img class="about-logo" src="image/PristineJewellers-Logo.png"/>
            
            <ul>
                <li><h3>Brand New & Pre Owned Watches</h3></li>
                <li><h3>Best prices Guaranteed</h3></li>
                <li><h3>Cash Accepted</h3></li>
                <li><h3>World Wide Shipping – Free & Insured</h3></li>
                <li><h3>Full Watch Servicing <br/> Repairs, Alterations & Polishing</h3></li>
                 <li><h3>Free Watch /Bracelet alteration with every purchase</h3></li>
                  <li><h3>Watch sourcing – Cant find a watch in one of our shops or site? Our team will source the best quality watch at the best price for you at no extra cost</h3></li>
                   <li><h3>Reserve a product. Phone, email or contact our live chat if you want a member of our team to reserve a product until you have time to come and view it.</h3></li>
            </ul>

        </div>



    </div> 



</div>

  {# <div class="row-gold">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_bottom }}</div>
    {{ column_right }}</div> #}

{{ footer }}