<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Prisitine Jewellers</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/ScrollToPlugin.min.js" type="text/javascript"></script>

{# <script src="catalog/view/javascript/TimelineMax.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/TimelineMax.js" type="text/javascript"></script> #}
<script src="catalog/view/javascript/TweenMax.min.js" type="text/javascript"></script>



<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/customtheme/stylesheet/stylesheet.css" rel="stylesheet">
<link href="catalog/view/theme/customtheme/stylesheet/screen.css" rel="stylesheet">
<link href="catalog/view/theme/customtheme/stylesheet/media.css" rel="stylesheet">

{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
<script src="catalog/view/javascript/main.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<div class="site-border">

</div>
<div class="top-nav">
  <div class="nav-content">
    {% if logged %}
              <a  class="top-nav-item" href="{{ account }}">ACCOUNT</a>
            
              {% else %}

              <a class="top-nav-item" href="{{ login }}">{{ text_login }}</a>
    {% endif %}
   
    <a class="home-icon" href="#" ><div class="svg-container">

  <svg version="1.1" id="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
  <path class="icon-path" d="M43.1030083,10.1979055c-3.5545349-2.9767227-8.7028923-3.0365367-13.2700882-3.0895901
    c-0.2620907-0.0030375-0.484024-0.0025702-0.6558018-0.0012617V7.10601H9.8072281
    c0.2254553-1.0138144,0.4762058-3.0346828-0.6253977-4.7852206c-0.2358294-0.3746781-0.689168-1.0756533-1.5815792-1.539803
    C7.3274746,0.6391464,6.0836263,0.035618,4.632298,0.5508119C4.3532286,0.6498631,3.2930896,1.0648376,2.6591558,2.2248533
    C1.9825734,3.4629698,2.2772503,4.6610546,2.357563,4.949657c0.0527732,0.189878,0.3948963,1.3536477,1.4963443,2.0788755
    c0.8036244,0.529088,1.9461944,0.5567989,4.1983747,0.5906467c0.6794481,0.0102024,1.2420101,0.0002646,1.6269999-0.0106235
    l0.0000629-0.0003581h3.8315783v41.479084c-1.1289873-0.0017433-2.2299366-0.0036888-3.2587986-0.0056229
    c0.0070724,0.0035515,0.0171661,0.0076027,0.0297823,0.0094414c0.0229292,0.0033493,0.0414343-0.0023994,0.0506868-0.0060463
    c0.0253582-0.0010262,0.0507164-0.0020714,0.0760756-0.0030975c-0.0786619-0.0067596-0.3576059-0.0548782-0.5785437-0.2553291
    c-0.2036791-0.184803-0.2641783-0.406208-0.2834311-0.5141373V11.8589249H8.9159698V48.306633
    c-0.0181313,0.1057816-0.0774469,0.3321075-0.2845526,0.5199928c-0.2209368,0.2004509-0.4731522,0.2440033-0.5518446,0.2507668
    c0.0022116,0.0018997,0.0113392,0.0092812,0.0250463,0.0090942c0.012929-0.0001869,0.0215273-0.0070076,0.0238638-0.0089874
    c0.0162926,0.0000305,0.0326166,0.000061,0.0489101,0.0000954c-0.000062,0-0.0590668-0.0001259-0.0591288-0.0001259
    c-0.1942706-0.0004044-2.2952647-0.0049362-2.4020576-0.0051727c-0.1291914-0.0002937-1.3404541-0.0030975-1.4728236-0.0034256
    c-0.0251718-0.0037384-0.0616207-0.0099525-0.1049232-0.0203133c-0.025764-0.0061684-0.1280394-0.0315399-0.2666082-0.0973816
    c-0.1983516-0.0942383-0.377326-0.2268906-0.4408782-0.2753181c-0.0851727,0.0003433-0.1703451,0.0006714-0.2555175,0.0010147
    c0.0534897,0.1014633,0.1053908,0.2149391,0.1508431,0.3399582c0.0870416,0.2395515,0.1275406,0.4584923,0.1445501,0.6424675
    c0.000592,0,0.1889124,0.0000648,0.1894732,0.0000648c0.0030529,0,0.433713,0.0001373,0.4367661,0.0001373
    c0.0043302,0,23.8109169,0.0070724,24.1406097,0.0071678c0.102087-0.3287277,0.2041759-0.6574707,0.3062649-0.9862137
    c-0.0851727-0.0003281-0.1703453-0.0006714-0.255518-0.0009956c-0.0738945,0.0784721-0.204052,0.1967621-0.3976364,0.2845802
    c0,0-0.1883526,0.0856247-0.4067039,0.107338c-0.187542,0.0186462-3.0063019,0.024128-6.6307449,0.0232887V7.6081977h7.955965
    c0.0427418,0.0014329,0.1059513,0.0038319,0.1822777,0.0078192c2.4329605,0.12712,4.2293415,1.1386447,4.9751453,1.5694451
    c0.5577965,0.3221693,1.5921707,0.9301844,2.654274,2.0465078c2.6339607,2.7684174,3.0601654,6.1623268,3.1821594,7.2953949
    c0.0359497,0.3341007,0.0528679,0.6011143,0.063179,0.7818336c0.0733337,1.2845192,0.0919647,4.7277737-1.9499969,7.9192963
    c-1.3377113,2.0907764-2.9508781,3.1218967-3.5659027,3.4802971c-0.9883652,0.5759583-1.8722992,0.8268185-2.5126209,1.0122719
    c-1.3025093,0.3772335-2.4862957,0.5191212-3.4700775,0.5566273c-0.5821896-0.0008545-1.1643162-0.0028343-1.7465038-0.0019455
    c-0.2861099,0.0004349-0.5722828,0.001091-0.8585167,0.0019455c-0.119566,0.0016365-0.5434971,0.0220413-0.7905102,0.3419228
    c-0.0323677,0.0418854-0.064518,0.0926018-0.0923672,0.1537704c0.2383823,0.0056229,0.4774208,0.0147362,0.7172356,0.0147362
    c1.3631649,0,2.7263622,0,4.0895576,0v-0.001339c0.2277298,0.0019913,0.4838066,0.0019455,0.7638111-0.0020714
    c4.182333-0.0599403,8.3955975-0.1203308,11.6850185-2.4335232c3.2347183-2.2747364,5.090847-6.3782959,5.1177025-10.366684
    C47.2574272,19.3573456,47.2116318,13.6386223,43.1030083,10.1979055z M9.2531395,6.706254
    C9.2246656,6.8308816,9.1913319,6.9563351,9.1913319,6.9563351c-0.0172901,0.065733-0.0326176,0.119503-0.0428982,0.1546907
    C7.5739889,7.1418362,6.393755,6.9551044,5.9282656,6.7648373C5.519475,6.5977478,5.2177577,6.3637571,5.2177577,6.3637571
    C5.174922,6.3305168,5.0248265,6.2082562,4.8231416,5.990808C4.0595174,5.1675568,3.9317276,4.1029005,3.9317276,4.1029005
    c-0.0349538-0.2553148-0.1867938-1.544647,0.6318157-2.5398319c0.1802201-0.2190995,0.643342-0.782129,1.4090843-0.9253708
    c0.1720271-0.0321811,0.3195062-0.035717,0.4269528-0.032259C6.9582176,0.6947547,7.3667898,0.922655,7.4934893,0.9975002
    C8.1909752,1.409484,8.5123816,1.9885417,8.7703915,2.453361C8.7704229,2.453361,9.8008108,4.309617,9.2531395,6.706254z"/>
    </svg>

    </div></a>
    <div class="open-menu top-nav-item">MENU</div>
  </div>
</div>
<header class="menu-container">
 
  <div class="left-container">
     <div class="search-container">{{ search }}</div>
      <ul>
       {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ shopping_cart }}">CART</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
      </ul>
      <ul>
        <li class="sub-links"><a href="#">FAQ</a> </li>
        <li class="sub-links"><a href="#">TERMS & SERVICES</a> </li>
        <li class="sub-links"><span>020 4567 8322 </span></li>
        <li class="sub-links"><a href="#">email </a></li>
        <li class="sub-links"><a href="#">Live Chat Support </a></li>
      </ul>
      
      <div class="social-media-container">
      <a class="social-media" href="#">
        
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 455.731 455.731" style="enable-background:new 0 0 455.731 455.731;" xml:space="preserve">
        <g>
          <rect x="0" y="0" width="455.731" height="455.731"/>
          <path class="bird"  d="M60.377,337.822c30.33,19.236,66.308,30.368,104.875,30.368c108.349,0,196.18-87.841,196.18-196.18
            c0-2.705-0.057-5.39-0.161-8.067c3.919-3.084,28.157-22.511,34.098-35c0,0-19.683,8.18-38.947,10.107
            c-0.038,0-0.085,0.009-0.123,0.009c0,0,0.038-0.019,0.104-0.066c1.775-1.186,26.591-18.079,29.951-38.207
            c0,0-13.922,7.431-33.415,13.932c-3.227,1.072-6.605,2.126-10.088,3.103c-12.565-13.41-30.425-21.78-50.25-21.78
            c-38.027,0-68.841,30.805-68.841,68.803c0,5.362,0.617,10.581,1.784,15.592c-5.314-0.218-86.237-4.755-141.289-71.423
            c0,0-32.902,44.917,19.607,91.105c0,0-15.962-0.636-29.733-8.864c0,0-5.058,54.416,54.407,68.329c0,0-11.701,4.432-30.368,1.272
            c0,0,10.439,43.968,63.271,48.077c0,0-41.777,37.74-101.081,28.885L60.377,337.822z"/>
        </g>

        </svg>

    </a>

      <a class="social-media" href="#">
   
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 455.73 455.73" style="enable-background:new 0 0 455.73 455.73;" xml:space="preserve">
<path  d="M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31c0,24.99,20.34,45.33,45.32,45.33
  c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31
  c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M303.36,108.66
  H152.37c-24.1,0-43.71,19.61-43.71,43.71v150.99c0,24.1,19.61,43.71,43.71,43.71h150.99c24.1,0,43.71-19.61,43.71-43.71V152.37
  C347.07,128.27,327.46,108.66,303.36,108.66z M227.86,306.35c-43.27,0-78.48-35.21-78.48-78.49c0-43.27,35.21-78.48,78.48-78.48
  c43.28,0,78.49,35.21,78.49,78.48C306.35,271.14,271.14,306.35,227.86,306.35z M308.87,165.61c-10.24,0-18.57-8.33-18.57-18.57
  s8.33-18.57,18.57-18.57s18.57,8.33,18.57,18.57S319.11,165.61,308.87,165.61z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31
  c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M303.36,108.66
  H152.37c-24.1,0-43.71,19.61-43.71,43.71v150.99c0,24.1,19.61,43.71,43.71,43.71h150.99c24.1,0,43.71-19.61,43.71-43.71V152.37
  C347.07,128.27,327.46,108.66,303.36,108.66z M227.86,306.35c-43.27,0-78.48-35.21-78.48-78.49c0-43.27,35.21-78.48,78.48-78.48
  c43.28,0,78.49,35.21,78.49,78.48C306.35,271.14,271.14,306.35,227.86,306.35z M308.87,165.61c-10.24,0-18.57-8.33-18.57-18.57
  s8.33-18.57,18.57-18.57s18.57,8.33,18.57,18.57S319.11,165.61,308.87,165.61z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31
  c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M0,0v455.73h455.73
  V0H0z M380.23,303.36c0,42.39-34.48,76.87-76.87,76.87H152.37c-42.39,0-76.87-34.48-76.87-76.87V152.37
  c0-42.39,34.48-76.87,76.87-76.87h150.99c42.39,0,76.87,34.48,76.87,76.87V303.36z M303.36,108.66H152.37
  c-24.1,0-43.71,19.61-43.71,43.71v150.99c0,24.1,19.61,43.71,43.71,43.71h150.99c24.1,0,43.71-19.61,43.71-43.71V152.37
  C347.07,128.27,327.46,108.66,303.36,108.66z M227.86,306.35c-43.27,0-78.48-35.21-78.48-78.49c0-43.27,35.21-78.48,78.48-78.48
  c43.28,0,78.49,35.21,78.49,78.48C306.35,271.14,271.14,306.35,227.86,306.35z M308.87,165.61c-10.24,0-18.57-8.33-18.57-18.57
  s8.33-18.57,18.57-18.57s18.57,8.33,18.57,18.57S319.11,165.61,308.87,165.61z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31
  c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M227.86,182.55
  c-24.98,0-45.32,20.33-45.32,45.31c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33
  C273.18,202.88,252.85,182.55,227.86,182.55z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31c0,24.99,20.34,45.33,45.32,45.33
  c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M303.36,108.66H152.37
  c-24.1,0-43.71,19.61-43.71,43.71v150.99c0,24.1,19.61,43.71,43.71,43.71h150.99c24.1,0,43.71-19.61,43.71-43.71V152.37
  C347.07,128.27,327.46,108.66,303.36,108.66z M227.86,306.35c-43.27,0-78.48-35.21-78.48-78.49c0-43.27,35.21-78.48,78.48-78.48
  c43.28,0,78.49,35.21,78.49,78.48C306.35,271.14,271.14,306.35,227.86,306.35z M308.87,165.61c-10.24,0-18.57-8.33-18.57-18.57
  s8.33-18.57,18.57-18.57s18.57,8.33,18.57,18.57S319.11,165.61,308.87,165.61z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31
  c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M227.86,182.55
  c-24.98,0-45.32,20.33-45.32,45.31c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33
  C273.18,202.88,252.85,182.55,227.86,182.55z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31c0,24.99,20.34,45.33,45.32,45.33
  c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z M303.36,108.66H152.37
  c-24.1,0-43.71,19.61-43.71,43.71v150.99c0,24.1,19.61,43.71,43.71,43.71h150.99c24.1,0,43.71-19.61,43.71-43.71V152.37
  C347.07,128.27,327.46,108.66,303.36,108.66z M227.86,306.35c-43.27,0-78.48-35.21-78.48-78.49c0-43.27,35.21-78.48,78.48-78.48
  c43.28,0,78.49,35.21,78.49,78.48C306.35,271.14,271.14,306.35,227.86,306.35z M308.87,165.61c-10.24,0-18.57-8.33-18.57-18.57
  s8.33-18.57,18.57-18.57s18.57,8.33,18.57,18.57S319.11,165.61,308.87,165.61z M227.86,182.55c-24.98,0-45.32,20.33-45.32,45.31
  c0,24.99,20.34,45.33,45.32,45.33c24.99,0,45.32-20.34,45.32-45.33C273.18,202.88,252.85,182.55,227.86,182.55z"/>

</svg>

    </a>

      <a class="social-media" href="#">

        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 455.73 455.73" style="enable-background:new 0 0 455.73 455.73;" xml:space="preserve">
        <path  d="M0,0v455.73h242.704V279.691h-59.33v-71.864h59.33v-60.353c0-43.893,35.582-79.475,79.475-79.475
          h62.025v64.622h-44.382c-13.947,0-25.254,11.307-25.254,25.254v49.953h68.521l-9.47,71.864h-59.051V455.73H455.73V0H0z"/>

        </svg>

      </a>
    </div>
    
  </div>


  <div class="center-container">
    {# {{ menu }} #}
    <ul>
      <li><a href="http://stage.maximusik.com/opencart/watches">Watches</a> </li>
       <li><a href="http://stage.maximusik.com/opencart/watches">Braclets</a> </li>
        <li><a href="http://stage.maximusik.com/opencart/goldbullion">Gold Bullion</a> </li>
         <li><a href="#">Watch Finder</a> </li>
          <li><a href="http://stage.maximusik.com/opencart/about">About Us</a> </li>
           <li><a href="#">Contact</a> </li>
           <li><a href="http://stage.maximusik.com/opencart/servicing">SERVICING</a> </li>
    </ul>
  </div>

  <div class="right-container">
     <img class="text-logo" src="image/PristineJewellers-Logo.png" alt="Pristine Jewellers">
  </div> 

   <div class="close-menu">
    <div class="close-menu-button">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
      <rect x="0" y="23.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -10.3553 25)" width="50" height="2.3"/>
      <rect x="0" y="23.8" transform="matrix(0.7071 0.7071 -0.7071 0.7071 25 -10.3553)" width="50" height="2.3"/>
      </svg>
    </div>
  </div>

</header>
{# <nav id="top">
  
  <div class="container">{{ currency }}
    {{ language }}
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
        <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
      </ul>
    </div>
  </div>
</nav> #}

 {#  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>
     
      <div class="col-sm-3">{{ cart }}</div>
    </div>
  </div> #}


