{{ header }}
<div id="common-home" class="container">
    <div class="intro-module ">
        <div class="content-container">
            <img class="text-logo" src="image/PristineJewellers-Logo.png" alt="Pristine Jewellers" />
             
            <div class="bottom-content">
                <img class="icon-logo" src="image/PristineJewellers-Icon.png" alt="Pristine Jewellers Icon"/>
                
                <div class="intro-text" id="introText">
                    
                    <h2 id="line0"><span>Welcome</span> <span> to</span> <span> Prisitine</span> <span> Jewellers.</span></h2> 

                    <h2 id="line1"><span>We </span> <span>have</span> <span>marvelous</span> <br/> <span>Rolex</span> <span> watches</span> <span>and </span> <span> jewellery.</span></h2> 

                    <h2 id="line2"><span>Further</span> <span> we </span> <span> have </span> <span>other </span> <span> services </span> <br/> <span>you</span> <span> may </span> <span> be </span> <span> interested </span> <span>in.</span></h2>
 
                </div>
            </div>
            <div class="arrow">
           
                <svg version="1.1" class="svg-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 50 25" style="enable-background:new 0 0 50 25;" xml:space="preserve">
                <path class="st0 point" d="M28.8,20.5c0-5.3,0-10.7,0-16c5.8,2.7,11.5,5.3,17.3,8C40.3,15.2,34.6,17.8,28.8,20.5z"/>
                <line class="st0 stem"  x1="33.8" y1="12.5" x2="4.8" y2="12.5"/>
                </svg>

            </div>

        </div>



    </div>
    <div class="showcase-module">
        <div class="picture-container scroll-animate showcase-image-animation" id="showcase-picture-container">
            <div class="image active" style="background-image: url(image/showcase.jpg)"> </div>
             <div class="image" style="background-image: url(image/showcase.jpg)"> </div>
              <div class="image" style="background-image: url(image/showcase.jpg)"> </div>
               <div class="image" style="background-image: url(image/showcase.jpg)"> </div>
            
        </div>
        <div class="right-content-container">
            <div class="module-title scroll-animate header-animation">
                <h1>Product Showcase</h1>    
            </div>
            <div class="name-container scroll-animate showcase-header-animation" id="showcase-name-container">
                <div class="product-name active">
                    <div class="cta">
                        <a href="" class="explore">Explore </a>
                        <span class="up-next">Next Showcase</span>
                    </div>
                    <a href="#">
                        <h2>Mens Rolex Yellow Gold Submariner</h2>
                    </a>
                </div>
                <div class="product-name next">
                    <div class="cta">
                        <a href="#" class="explore">Explore  </a>
                        <span class="up-next">Next Showcase</span>
                    </div>
                    <a href="">
                        <h2>Mens Rolex Yellow Gold Submariner</h2>
                    </a>
                </div> 
                <div class="product-name">
                    <div class="cta">
                         <a href="#" class="explore">Explore </a>
                        <span class="up-next">Next Showcase</span>
                    </div>
                    <a href="">
                        <h2>Mens Rolex Yellow Gold Submariner</h2>
                    </a>
                </div> 
                <div class="product-name">
                    <div class="cta">
                        <a href="" class="explore">Explore </a>
                        <span class="up-next">Next Showcase</span>
                    </div>
                    <a href="">
                        <h2>Mens Rolex Yellow Gold Submariner 4</h2>
                    </a>
                </div> 
            </div>     
            <div class="info-container scroll-animate showcase-text-animation" id="showcase-info-container">
                <div class="info active">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum dolor id ipsum euismod posuere. Donec venenatis molestie diam
                    </p>
                </div>
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum dolor id ipsum euismod posuere. Donec venenatis molestie diam ipsum euismod posuere. Donec venenatis molestie diam
                    </p>
                </div>
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur Morbi condimentum dolor id ipsum euismod posuere. Donec venenatis molestie diam
                    </p>
                </div>
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>  
            </div>
        </div>
        <div class="next-section right-side">
            <div class="arrow">
                <svg version="1.1" class="svg-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 50 25" style="enable-background:new 0 0 50 25;" xml:space="preserve">
                <path class="st0 point" d="M28.8,20.5c0-5.3,0-10.7,0-16c5.8,2.7,11.5,5.3,17.3,8C40.3,15.2,34.6,17.8,28.8,20.5z"/>
                <line class="st0 stem"  x1="33.8" y1="12.5" x2="4.8" y2="12.5"/>
                </svg>
            </div>
            <h4>GOLD BULLION BARS</h4>
        </div> 
    </div>

    <div class="two-up-module-link">
        <div class="background-icon parallax ps-icon-one">
            <img  class="para " src="image/PristineJewellers-Icon.png"/>
        </div> 
        <div class="next-section left-side">
            <div class="arrow">
                <svg version="1.1" class="svg-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 50 25" style="enable-background:new 0 0 50 25;" xml:space="preserve">
                <path class="st0 point" d="M28.8,20.5c0-5.3,0-10.7,0-16c5.8,2.7,11.5,5.3,17.3,8C40.3,15.2,34.6,17.8,28.8,20.5z"/>
                <line class="st0 stem"  x1="33.8" y1="12.5" x2="4.8" y2="12.5"/>
                </svg>
            </div>
            <h4>Watch Finder</h4>
        </div> 
        <div class="left">
            <div class="text scroll-animate link-body-animation">
                <p>
                    We have a range of Gold Bullion Bars <br/> available ranging from 1KG - 100G.
                </p>
                <p>
                    Gold bullion bars purchased from us can be securely delivered to you onboard our secured transportation at the most convenient time for you or you can arrange to pick up your Bullion bar from one of our many stores. 
                </p>
                <p>
                    Every Gold Bullion Bar sold by Pristine <br/> jewllers comes with a unique serial number imprinted into the bar with a certificate provided.
                </p>
                <p>
                    We accept cash for our Gold Bullion Bars please contact us 020 Support@Prestinejewlers.com or our live chat in order to arrange an appointment.
                </p>
            </div>
            <div class="scroll-animate link-body-animation">
                <div class="golden-link">
                    <div class="golden-button ">
                        <a href="">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="title scroll-animate header-animation">
                <h1>Gold Bullion Bars</h1>
            </div>
            <div class="image scroll-animate link-image-animation">

            </div>
        </div>

    </div>


    <div class="two-up-module-link-reverse">
        <div class="background-icon right-side">
            <img src="image/PristineJewellers-Icon.png"/>
        </div> 
        <div class="next-section right-side">
            <div class="arrow">
                <svg version="1.1" class="svg-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 50 25" style="enable-background:new 0 0 50 25;" xml:space="preserve">
                <path class="st0 point" d="M28.8,20.5c0-5.3,0-10.7,0-16c5.8,2.7,11.5,5.3,17.3,8C40.3,15.2,34.6,17.8,28.8,20.5z"/>
                <line class="st0 stem"  x1="33.8" y1="12.5" x2="4.8" y2="12.5"/>
                </svg>
            </div>
            <h4 >Services</h4>
        </div> 
        <div class="left">
            <div class="title scroll-animate header-animation">
                <h1>Watch Finder</h1>
            </div>
            <div class="image scroll-animate link-image-animation">

            </div>
        </div>
        <div class="right">
            <div class="text scroll-animate link-body-animation">
            <p>
               We offer a unique service, Watchfinder where we have a special team in place if you can't find the watch you want on our site or in one of our stores we will find it for you.
           </p>
           <p>
                We guarantee that our team will work around the clock to find your watch in the quickest time possible but ensuring the watch is high quality and exactly what you asked for.
            </p>
            <p>
                No extra costs are involved when using this service just sit back, relax and let our experts find the watch you desire.
            </p>
            </div>
            <div class="scroll-animate link-body-animation">
                <div class="golden-link">
                    <div class="golden-button">
                        <a href="">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
            
        </div>


    </div>
    <div class="services-module">
       
        <div class="title">
            <h1 class="scroll-animate header-animation">Servicing </h1>
        </div>  
        <div class="list-container">
            <div class="item">
                <h3 class="scroll-animate subheading-animation">Quality</h3>
                <div class="scroll-animate body-text-animation">
                    <p>
                        We ensure our experts have thoroughly checked our watches before they’re listed on our shop floor <br/> and on our website.
                    </p>
                </div>
            </div>
            <div class="item">
                <h3 class="scroll-animate subheading-animation">Reserve a product</h3>
                <div class="scroll-animate body-text-animation">
                    <p>
                       If you've seen a watch or bracelet in one of our stores or online and want to come and view it.
                     </p>
                    <p>  
                        please contact us so one of our team can reserve the product until you can come at a time which is most convenient for you.
                    </p>
                </div>
            </div>
        </div> 

    </div>
    <div class="about-module">
        <div class="title">
            <h1 class="scroll-animate header-animation">About Us </h1>
        </div>
        <div class="text scroll-animate body-text-animation">
            <p>Prestine Jewelers sell some of the most luxury watches with a variety of different brands sold. <br/>
             We not only sell luxury watches but exclusive bracelets ranging <br/>from diamond bracelets to silver bracelets.
            </p>
        </div>
        <div class="scroll-animate button-animation">
          <div class="golden-link">
            <div class="golden-button">
                <a href="">FIND OUT MORE</a>
            </div>
          </div>
        </div>

    </div>


  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>

</div>

{{ footer }}